#global-navbar-mobile-menu-portal [data-radix-popper-content-wrapper] {
  width: 100%;
  min-width: 0 !important;
  max-width: none !important;
}

/* landing page fixed navbar */
html {
  scroll-padding-top: 5.625rem;
}
